In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
#Import Dataset

ds= pd.read_csv(r"C:\Users\nivesan\Downloads\Churn_Modelling.csv")
ds.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Analysing the data using pandas and Checking if the dataset contains any null values
ds.info()
ds.isnull().any() #o nullvalues

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [4]:
#Splitting data as independent and dependent #removing index column in independent dataset
x=ds.iloc[:,1:31]. values
y=ds.iloc[:,-1].values
print(x,y)

[[15634602 'Hargrave' 619 ... 1 101348.88 1]
 [15647311 'Hill' 608 ... 1 112542.58 0]
 [15619304 'Onio' 502 ... 0 113931.57 1]
 ...
 [15584532 'Liu' 709 ... 1 42085.58 1]
 [15682355 'Sabbatini' 772 ... 0 92888.52 1]
 [15628319 'Walker' 792 ... 0 38190.78 0]] [1 0 1 ... 1 1 0]

In [8]:
#splitting data into train and test
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\nivesan\Downloads\Churn_Modelling.csv")
x= df.iloc[:,6:8].values
y=df.iloc[:,3].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05, random_state=0)

In [9]:
print (x_train)

[[42  9]
 [40  7]
 [46  9]
 ...
 [35  5]
 [38  9]
 [48  1]]

In [10]:
print (y_train)

[601 844 743 ... 738 590 623]

In [11]:
print (x_test)

[[35  8]
 [40  2]
 [42  8]
 [32  4]
 [38  5]
 [57  3]
 [34  0]
 [29  6]
 [64  9]
 [63  1]
 [31 10]
 [45  8]
 [33  4]
 [31  9]
 [51  9]
 [55  9]
 [43  9]
 [66  5]
 [30  4]
 [45  6]
 [42  7]
 [35  2]
 [34  4]
 [34  2]
 [35  6]
 [46  1]
 [29  2]
 [30 10]
 [29  9]
 [44  4]
 [34  3]
 [41  5]
 [29  9]
 [64  6]
 [36  6]
 [24  2]
 [38  5]
 [27  5]
 [36  8]
 [35  4]
 [34  7]
 [41  7]
 [55  2]
 [24  6]
 [42  6]
 [29  5]
 [41  6]
 [29  8]
 [50  1]
 [27  0]
 [55  0]
 [22  8]
 [35  4]
 [60  6]
 [72  5]
 [33 10]
 [41  9]
 [39  6]
 [45  5]
 [40  3]
 [42  0]
 [45  4]
 [38  8]
 [38  7]
 [47  9]
 [54  9]
 [44  6]
 [41  3]
 [24  2]
 [56  9]
 [65  9]
 [35  8]
 [29  7]
 [63  3]
 [41  5]
 [25  8]
 [54  4]
 [32  7]
 [27  6]
 [39  2]
 [57  5]
 [57  9]
 [23  5]
 [41  9]
 [70  9]
 [67  1]
 [32  3]
 [37  9]
 [39  3]
 [38  7]
 [40  1]
 [44  6]
 [39  4]
 [38  5]
 [33  4]
 [65  2]
 [31  1]
 [28  6]
 [40  5]
 [28  5]
 [22  4]
 [35  3]
 [39  2]
 [33  0]
 [47  7]
 [35  8]
 [28  7]
 [38  8]
 [45  6]
 [31  1]
 [38  5]
 [52  9]
 [46  3]
 [68  4]
 [50  7]
 [28  5]
 [24  7]
 [76  6]
 [61  8]
 [22  9]
 [40  1]
 [46  2]
 [44  2]
 [27  1]
 [35  0]
 [47  4]
 [36 10]
 [41  3]
 [41  0]
 [38  6]
 [38  5]
 [74  5]
 [41 10]
 [32  9]
 [39  3]
 [33  2]
 [29  3]
 [41  8]
 [31  6]
 [33  9]
 [33 10]
 [28  8]
 [49  6]
 [33  7]
 [40  5]
 [39  6]
 [27  7]
 [50  5]
 [50  2]
 [54  3]
 [56  7]
 [34  5]
 [30  9]
 [33  3]
 [59  9]
 [44  6]
 [39  6]
 [51 10]
 [41  9]
 [32  2]
 [34  4]
 [92  1]
 [31  5]
 [38  3]
 [31  9]
 [31  4]
 [40  3]
 [41  1]
 [50  9]
 [35  0]
 [30  0]
 [35  5]
 [30  2]
 [42  5]
 [54  3]
 [34  7]
 [34  2]
 [29  8]
 [33  5]
 [21  9]
 [34  8]
 [40  8]
 [60  0]
 [30  0]
 [30  7]
 [58  3]
 [39  9]
 [34  6]
 [32  4]
 [34 10]
 [50  4]
 [41  0]
 [27  8]
 [37  9]
 [47 10]
 [26  8]
 [37  6]
 [43  6]
 [35  2]
 [43  9]
 [42  6]
 [35  8]
 [51  2]
 [43  3]
 [33  2]
 [34  1]
 [42  6]
 [44  7]
 [59  4]
 [38  5]
 [38  6]
 [33  5]
 [47  5]
 [60  0]
 [43  6]
 [39  8]
 [32  9]
 [38  6]
 [37  8]
 [24  5]
 [41  9]
 [37  8]
 [29  1]
 [42  3]
 [35  3]
 [36  3]
 [41  5]
 [78  5]
 [34  8]
 [44  3]
 [39  3]
 [39  2]
 [34  2]
 [24  9]
 [37  2]
 [35  5]
 [34  5]
 [41  6]
 [52  7]
 [34  1]
 [29  7]
 [34  2]
 [34  1]
 [39  6]
 [37  4]
 [39  7]
 [37  9]
 [42  8]
 [34  7]
 [34  3]
 [29  6]
 [46  2]
 [73  5]
 [48  6]
 [32  4]
 [33  4]
 [20  7]
 [39  6]
 [28  1]
 [40  9]
 [40  7]
 [40  2]
 [42  3]
 [45  7]
 [35  2]
 [40  7]
 [28  8]
 [41  8]
 [34  3]
 [36  4]
 [38  5]
 [28  8]
 [38  2]
 [49  9]
 [40  1]
 [39  7]
 [34  5]
 [35  4]
 [39  5]
 [41  7]
 [60  3]
 [38  3]
 [57  7]
 [32  9]
 [28  5]
 [35  4]
 [42  3]
 [26  8]
 [36  6]
 [33  3]
 [22  8]
 [43  1]
 [42  0]
 [64  2]
 [31  2]
 [34  3]
 [29 10]
 [60  6]
 [33  1]
 [56  1]
 [38  4]
 [46  7]
 [43  7]
 [59  7]
 [32  9]
 [49  9]
 [44  9]
 [33  8]
 [59  4]
 [41  2]
 [50  8]
 [39  7]
 [33  5]
 [30  6]
 [34  8]
 [47  3]
 [40  5]
 [23  3]
 [51  3]
 [36  9]
 [52  0]
 [31  4]
 [27  6]
 [43  2]
 [33  4]
 [38  2]
 [72  1]
 [37 10]
 [37  6]
 [40  1]
 [32  7]
 [35  6]
 [39  3]
 [18  2]
 [39  3]
 [49  7]
 [35  6]
 [28  9]
 [37  4]
 [38  9]
 [43  6]
 [46 10]
 [32  8]
 [46  8]
 [28  7]
 [43 10]
 [38  4]
 [42  9]
 [38  4]
 [32  5]
 [24  4]
 [26  1]
 [31  9]
 [38  3]
 [52  2]
 [68  9]
 [31  6]
 [34  5]
 [42  7]
 [34  6]
 [41  5]
 [28  2]
 [27  5]
 [58  8]
 [40  1]
 [55  6]
 [66  8]
 [43  8]
 [42  9]
 [38  9]
 [34  9]
 [34  8]
 [53 10]
 [31  2]
 [39  3]
 [23  5]
 [37  9]
 [48  3]
 [34  3]
 [32  8]
 [37  6]
 [30  1]
 [37  4]
 [49  1]
 [26  5]
 [37  9]
 [53  5]
 [54  8]
 [48  7]
 [34  2]
 [33  7]
 [44  6]
 [34  6]
 [27  2]
 [35  0]
 [55  2]
 [44  3]
 [35  4]
 [53  7]
 [36  7]
 [30  8]
 [40 10]
 [37  7]
 [31  5]
 [37  0]
 [56  9]
 [44  8]
 [42  4]
 [38  2]
 [40  6]
 [34  1]
 [45  8]
 [30  7]
 [39  6]
 [37  8]
 [44  3]
 [42  8]
 [27  8]
 [43  4]
 [55  7]
 [30  9]
 [29  4]
 [41  8]
 [61  2]
 [46  5]
 [43  6]
 [37  9]
 [29  4]
 [34  8]
 [32 10]
 [45  8]
 [36  8]
 [51  4]
 [37  5]
 [51 10]
 [36  7]
 [52  6]
 [36  9]
 [30  0]
 [25 10]
 [39  7]
 [30  4]
 [34  1]
 [24  1]
 [32  9]
 [39  1]
 [29  9]
 [50  7]
 [33  6]
 [26  7]
 [44  1]
 [31 10]
 [52  2]
 [39  5]
 [41  3]
 [34  7]
 [29  3]
 [35  2]
 [30  5]
 [40  4]
 [26  7]
 [36  2]
 [37  7]
 [42  9]
 [32  9]
 [53  5]
 [35  3]
 [46  6]
 [39  4]
 [38  3]
 [31  9]
 [41  4]
 [43  3]
 [44  4]
 [31  4]
 [67  5]
 [39  9]
 [38  9]
 [34  3]
 [54  0]
 [29  2]
 [75  2]
 [45  3]
 [69  2]
 [35  8]
 [47 10]
 [43  9]
 [42  9]
 [46  5]
 [37  5]
 [52  3]
 [46  5]
 [42  8]
 [64  1]
 [38 10]
 [47  8]
 [36  5]
 [41  2]
 [18  3]
 [30  8]]

In [13]:
print (x_train)

[[42  9]
 [40  7]
 [46  9]
 ...
 [35  5]
 [38  9]
 [48  1]]